  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: gilroy;
  }

  html,
  body {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5rem;
  }

  #num{
      padding: 1rem 5rem;
  }

  button {
      cursor: pointer;
      padding: 1rem 5rem;
      background-color: rgb(98, 117, 117);
      border: 1px solid black;
      border-radius: 10px;
      font-size: 1.5rem;
  }

  button:active {
      transform: scale(0.95);
  }