  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: gilroy;
  }

  html,
  body {
      height: 100%;
      width: 100%;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }

  .box {
      width: 300px;
      height: 350px;
      background-color: red;
      border: 1px solid #514e4e;
      border-radius: 10px;
      overflow: hidden;
  }

  button {
      cursor: pointer;
      padding: 1rem 5rem;
      background-color: white;
      border: 1px solid black;
      border-radius: 10px;
      font-size: 1.5rem;
  }

  button:active {
      transform: scale(0.95);
  }