  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: gilroy;
  }

  html,
  body {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  button {
      position: fixed;
      z-index: 999;
      cursor: pointer;
      padding: 10px 20px;
      background-color: rgb(98, 117, 117);
      border: 1px solid black;
      border-radius: 10px;
      font-size: 1.5rem;
  }

  button:active {
      transform: scale(0.95);
  }