  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: gilroy;
  }

  html,
  body {
      height: 100%;
      width: 100%;
      text-align: center;
      background-color: bisque;
      
  }
  main{
     height: 90%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }

  .box1,
  .box2 {
      height: 60%;
      width: 25%;
      background-color: rgb(0, 0, 0);
      border-radius: 50px;
  }


  button {
      cursor: pointer;
      padding: 10px 20px;
      border: 1px solid black;
      border-radius: 10px;
      font-size: 1.5rem;
  }