  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: gilroy;
  }

  html,
  body {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap:2rem;
      background-color: rgb(57, 55, 55);
      color: white;
  }

.main-box{
    width: 100%;
    display: flex;
      align-items: center;
      justify-content: center;
      gap:1rem;

}
  .box {
      height: 70px;
      width: 70px;
      border: 1px solid #51514e;
      background-color: rgb(88, 170, 22);
      border-radius: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      color: black;
  }

  button {
      cursor: pointer;
      padding: 0.7rem 2rem;
      background-color: rgb(91, 57, 96);
      border: 1px solid black;
      border-radius: 10px;
      font-size: 1.5rem;
  }

  button:active {
      transform: scale(0.95);
  }